

img {  display: block;
       margin-left: auto;
       margin-right: auto;
       width: 20%;
}

h2 { text-decoration: underline;
       text-align: center;
}

p { margin-top: 10px;
       text-align: center;

}


.navbar-expand-lg { color: brown;}


.two {border-style: solid;
      margin-top: 10px;

}