
h2 { text-decoration: underline;
    margin-left: 5px;
}

.Personal-contact { border-style: solid;

}
    

.contact-dropin { border-style: solid;

}
    
.Contact-form { margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

}



 
